{% extends "base.html.twig" %}

{% block title %}New article{% endblock %}

{% block body %}
    <h1>Modifier un nouvel article</h1>
    {# Pour que le bouton submit ne se mette pas en haut du formulaire il faut mettre form_row #}
    {{form_start(form)}}
    {{form_row(form.titre)}}
    {{form_row(form.contenu)}}
    {{form_row(form.categorie)}}
    <button type="submit"> Envoyer </button>
    {{form_end(form)}}
    
{% endblock %}